/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
.editorconfig
.gitattributes
.styleci.yml
artisan
bootstrap/
phpunit.xml
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/
tests/
webpack.mix.js
server.php
public/
config/